<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>Interactive Word Cloud - 언론사별 IT 뉴스</h2>
    <h1><a href="{% url 'cs' %}">조선일보</a></h1>
    <h1><a href="{% url 'ja' %}">중앙일보</a></h1>
    <h1><a href="{% url 'hk' %}">한국경제</a></h1>
    <h1><a href="{% url 'mk' %}">매일경제</a></h1>
    <h1><a href="{% url 'kh' %}">경향신문</a></h1>
    <h1><a href="{% url 'se' %}">서울신문</a></h1>
    <h1><a href="{% url 'sg' %}">세계일보</a></h1>
    <!-- <h1><a href="">기타</a></h1> -->
  </body>
</html>