<header>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-tag-cloud.min.js"></script>
    <script>
        anychart.onDocumentReady(function () {        
            // keyword dict mapping
            var dicObject = {{ dict|safe }};
            var srcObject = {{ source_dict|safe }};         
            // for (var key in dicObject) {
            //     console.log("key : " + key +", value : " + dicObject[key]);
            // }

            var testData = [];
            
            for (var key in dicObject) {
                testData.push({
                    "x": key.toUpperCase(),
                    "value": dicObject[key],
                    source: srcObject[key]
                });
            }
            
            // var chart = anychart.tagCloud(data);
            var chart = anychart.tagCloud(testData);
            chart.angles([0]);
            chart.container("container");
            // chart.getCredits().setEnabled(false);
            // set the mode of the tag cloud
            chart.mode("spiral");
            chart.draw();

            // add an event listener
            chart.listen("pointClick", function(e){
                // var url = "//en.wiktionary.org/wiki/" + e.point.get("x");
                // window.open(url, "_blank");
                document.getElementById("selectedTag").innerHTML = 'Selected Word: ';
                document.getElementById("selectedTagSource").innerHTML = 'Sources:<br>';

                var selectedTag = e.point.get("x");
                var selectedTagSource = e.point.get("source");
                document.getElementById("selectedTag").innerHTML += selectedTag;
                // console.log(selectedTagSource);
                selectedTagSource.forEach(function (item, index, array) {
                    document.getElementById("selectedTagSource").innerHTML += '#' + (index + 1) + ' <a href="' + item + '" target="_blank" rel="noopener noreferrer">' + item + '<a><br>';
                    //console.log(item)
                })                
            });
        });
    </script>

</header>
<body>
    <a href="{% url 'home' %}">HOME</a>
    <h2>Interactive Word Cloud</h2>
    <div style="margin-left: 2rem;">
        <h3 id="selectedTag"></h3>
        <h3 id="selectedTagSource"></h3>
    </div>
    
    <div class="chart-area">
        <div id="container" style="width:80%; height:80%;"></div>
    </div>
    
    <!-- <hr> -->
    <!-- {{ data }}

    {% for item in data %}
        <h3>{{ item.id }} / {{ item.name }}</h3>
    {% endfor %} -->
    
</body>